<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <h2 class="header">Weather App</h2>
    <form action="/weather" method="post">
        <div class="input-container">
            <div class="input-tile">
                <label for="location">Location:</label><br>
                <input type="text" id="location" name="location" placeholder="Enter location" required>
            
                <label for="apikey">API Key:</label><br>
                <input type="text" id="apikey" name="apikey" placeholder="Enter API key" required>
        
                <button class="fancy-button">Get Weather</button>
            </div>
        </div>
    </form>
</body>
</html>
